*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color:white;
    font-family: 'Play', sans-serif;
    list-style-type: none;
    max-width: 100%;
    scroll-behavior: smooth;
    background: linear-gradient(to top, #2b2b2b ,black #2b2b2b ,black #2b2b2b ,black #2b2b2b ,black #2b2b2b ,black);
}
header{
    background-color: #2b2b2b;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1.6vw;
    padding-top: 0.3vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-bottom: 2px;

}
a.nav:hover{
    color:orange;
}
.article{
    border-top: 2px;
    background: linear-gradient(to bottom, #2b2b2b ,black);
}
h2{
    padding-top: 5vw;
    text-align: center;
}
.function{
    padding-top: 5vw;
    margin-left: 31%;
}
h1{

    font-size: 16px;
}
.center{
    padding-top: 1vw;
    margin-left: 48%;
}
.center_text{
    text-align: center;
    padding-right: 10vw;
    padding-left: 10vw;
}
h3{
    padding-top: 0.5vw;
    font-size:14px;
}
.center_video{
    transition: 1s;
    margin-top: 0.2vw;
    margin-left:30%
}
.border{
    padding-top: 3vw;
}
.zoom_in_out{
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.zoom_out_2{
    margin-right: 6vw;
}
.center_video_2:hover{
    transform: scale(2) ;
    margin-left: 20vw;
    margin-right: auto;
}
.center_video_2:active{
    transform: scale(2.5);
    margin-left: 30vw;
    margin-right: auto;
}
.left:hover{
    transform: scale(2);
    margin-left: auto;
    margin-right: 20vw;
}
.left:active{
    transform: scale(3);
    margin-left: auto;
    margin-right: 50vw;
}
.center_video_2{
    transition: 1s;
    margin-top: 0.2vw;
    margin-left:30%
}
.center_video:hover{
    transform: scale(2) ;
}
.center_video:active{
    transform: scale(2.5);
}

.article_text{
    padding-top: 5vw;
    background: linear-gradient(to bottom, black ,#2b2b2b);
}
.center_2{
    padding-top: 3vw;
    margin-left: 45.5%;
}
.function_2{
    padding-top: 1vw;
    margin-left: 45.5%;
}
h4{
    text-align: center;
    font-size: 14px;
}
.function_3{
    padding-top: 1vw;
    margin-left: 43.5%;
}
.center_3{
    padding-top: 3vw;
    margin-left: 44%;
}
.active{
    color:orange;
}
.function_4{
    padding-top: 1vw;
    margin-left: 42.5%;
}
.function_5{
    padding-top: 1vw;
    margin-left: 22.5%;

}
.buffer{
    background-color: black;
}